@font-face {
    font-family: "Timer";
    src: url("assets/fonts/Timer.ttf");
}

* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    padding: 70px 0;
    background-color: #1B244A;
    text-align: center;
}

.scores_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.team_name {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    color: #EEEEEE;
}

.score_number {
    background-color: #080001;
    width: 155px;
    height: 120px;
    font-size: 90px;
    padding: 20px;
    color: #F94F6D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Timer, sans-serif;
    margin: 20px 0 25px;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.score_button {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    font-family: Timer, sans-serif;
    cursor: pointer;
}

.score_button:hover {
    background-color: #9AABD8;
    color: #1B244A;
    transition: 0.1s linear;
}

#new_game_button {
    background-color: #F94F6D;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    border: 2px solid #F94F6D;
    border-radius: 10px;
    cursor: pointer;
    text-transform:uppercase;
}

#new_game_button:hover {
    background-color: #1B244A;
    color: #F94F6D;
    border: 2px solid #F94F6D;
    transition: 0.1s linear;
}
